{% extends "base_dash.html" %} {% block title%}Add Translation{% endblock %}
{% block content%}

<form action="/addtranslation" method="POST">
    <h3 align="center">Add Translation</h3>
    <div class="form-group">
        <label for="swahili">Swahili</label>
        <input type="text" class="form-control" id="original_text" name="original_text" placeholder="Enter Swahili Text">
    </div>
    <div class="form-group">
        <label for="luhya">Luhya</label>
        <input type="text" class="form-control" id="translated_text" name="translated_text" placeholder="Enter Luhya translation">
    </div>
    <br />
    
    <div class="text-center mb-4">
        <button type="submit" class="btn btn-primary">Add Translation</button>
    </div>
  
</form>


{% endblock %}