{% extends "base_translation.html" %} {% block title%}Translation{% endblock %}
{% block content%}
 <div class="translate_container">
    <div class="translate_wrapper">
        <div class="text-input">
            <textarea spellcheck="false" class="from-text" placeholder="Enter text"></textarea>
            <textarea spellcheck="false" readonly disabled class="to-text"
            placeholder="Translation"></textarea>
        </div>
        <ul class="controls">
            <li class="row from lang_list">
                <div class="icons">
                </div>
                <select></select>
            </li>

            <li class="exchange lang_list">
                <i class="fas fa-exchange-alt"></i>
            </li>
            <li class="row to lang_list">
                <select></select>
                <div class="icons">
                    
                </div>
            </li>
        </ul>
    </div>

    <button>Translate Text</button>
 </div>   

 {% endblock %}
