{% extends "base_translation.html" %} {% block title%}Dashboard{% endblock %}
{% block content%}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
   
</div>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                           <a style="text-decoration: none;" href="/translation">Translations</a></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{20}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <a style="text-decoration: none;" class="text-success" href="/addtranslation">Add Translations</a></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><a style="text-decoration: none;" href="/addtranslation">Share with us</a></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            <a style="text-decoration: none;" class="text-info" href="/viewaddtranslation">Added Translations</a>
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                        style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            <a style="text-decoration: none;" class="text-warning" href="/userprofile">User Profile</a>
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-3">
    <h4 class="h4 mb-0 text-gray-800">Translate</h4>
   
</div>

<div class="row">

    <div class="translate_container">
        <div class="translate_wrapper">
            <div class="text-input">
                <textarea spellcheck="false" class="from-text" placeholder="Enter text"></textarea>
                <textarea spellcheck="false" readonly disabled class="to-text"
                placeholder="Translation"></textarea>
            </div>
            <ul class="controls">
                <li class="row from lang_list">
                    <div class="icons">
                    </div>
                    <select></select>
                </li>
    
                <li class="exchange lang_list">
                    <i class="fas fa-exchange-alt"></i>
                </li>
                <li class="row to lang_list">
                    <select></select>
                    <div class="icons">
                        
                    </div>
                </li>
            </ul>
        </div>
    
        <button>Translate Text</button>
     </div>   
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-5">
    <h4 class="h4 mb-0 text-gray-800">History of Translations</h4>
</div>

<div class="row">
<!--Table-->
<table>
    <th>Original Text</th>
    <th>Translation Text</th>

    {% if user.id == usertrans.id %}
    {% for usert in usertrans%}
    <tr>{{ usert.original_text}}</tr>
    {% endfor %}
    {% for usert in usertrans%}
    <tr>{{ usert.original_text}}</tr>
    {% endfor %}
    {% endif %}
</table>
</div>


</div>
{% endblock %}